* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;

}

body {
    background-color:burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    height: 350px;
    width: 300px;
    background-color: #ffff;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

}

.container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.container i {
    color: #ffff;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.8;
    transition: all ease 0.5s;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
    margin: 10px 10px;
    gap: 10px;
}

.add {
    /* border: 1px solid black; */
    border-radius: 5px;
    font-weight: 600;
    background-color: cadetblue;
    height: 30px;
    width: 140px;
    cursor: pointer;
}

.remove {
    /* border: 1px solid black; */
    border-radius: 5px;
    font-weight: 600;
    background-color: #fff;
    height: 30px;
    width: 140px;
    cursor: pointer;

}